table, th, td {

    border: 1px solid black;
    
    border-collapse: collapse;
    
    }
    
    th, td {
    
    padding: 12px;
    
    background-color: #FDDF95;
    
    }
    table,.holder{width: 100%;}